-# Partial for a category form as shown to admins.
-# origin: M

- form_for [:admin, @category] do |form|
  %dl
    %dt
      = form.label :name
    %dd
      = form.error_message_on :name
      = form.text_field :name
    %dt
      = form.label :parent_id
    %dd
      = form.error_message_on :parent_id
      = form.select :parent_id, form.object.available_parents, :include_blank => true

  = boring_save_cancel_buttons
  